.App {
  display: flex;
  min-height: 100vh;
  padding: 24px;
  flex-direction: column;
  background: #fff;

  .content {
    flex: 1;
    alignment: center;
  }

  .mainHeader {
    font-size: 38px;
    color: #f2f2f2;
  }
  .subHeader {
    float: left;
    width: 98%;
    margin: 10px auto;

    .box {
      .boxRight {
        float: right;
      }
    }
  }
}

.box {

}


.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
